<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PayfabricDeviceId" value="b6432066-f8b4-4b92-87b1-c4df38b54f9d"/>
    <add key="PayfabricDevicePassword" value="_Lights337"/>
    <add key="PayfabricDeviceUrl" value="https://sandbox.payfabric.com/Payment/Web"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>